extends layout
block head
  link(rel='stylesheet', href='/assets/style.css')
  link(rel="stylesheet", href="/assets/vendor.css")
block content
  header 
    h3 #{userInfo[0].name}

block footer
      script(src="/assets/vendor.js")
      script(src="/assets/app.js")